<a href="https://colab.research.google.com/github/ArifAygun/Python-for-Data-Science-Essential-Training-Part-1/blob/main/AA_linked_Python_for_DS_Ess_Train_Part_1_02_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2 - Data Preparation Basics
## Segment 2 - Treating missing values

In [1]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

### Figuring out what data is missing

In [2]:
missing = np.nan

series_obj = Series(['row 1', 'row 2', 'row 3', missing, 'row 5', 'row 6', missing, 'row 8'])
series_obj

0    row 1
1    row 2
2    row 3
3      NaN
4    row 5
5    row 6
6      NaN
7    row 8
dtype: object

### Filling in for missing values

In [3]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [4]:
DF_obj.loc[3:5, 0] = missing
DF_obj.loc[2:4, 4] = missing
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719       NaN  0.699186
3       NaN  0.836375  0.481343  0.516502       NaN  0.997541
4       NaN  0.559053  0.034450  0.719930       NaN  0.436935
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [7]:
DF_obj.loc[:3:5, 0] = missing
DF_obj.loc[:2:4, 4] = missing
DF_obj

          0         1         2         3         4         5
0       NaN  0.582277  0.278839  0.185911       NaN  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719       NaN  0.699186
3       NaN  0.836375  0.481343  0.516502       NaN  0.997541
4       NaN  0.559053  0.034450  0.719930       NaN  0.436935
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [8]:
filled_DF_obj =DF_obj.fillna(0)
filled_DF_obj

          0         1         2         3         4         5
0  0.000000  0.582277  0.278839  0.185911  0.000000  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.000000  0.699186
3  0.000000  0.836375  0.481343  0.516502  0.000000  0.997541
4  0.000000  0.559053  0.034450  0.719930  0.000000  0.436935
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [10]:
filled_DF = DF_obj.fillna({0: 0.1, 4: 1.25})
filled_DF

          0         1         2         3         4         5
0  0.100000  0.582277  0.278839  0.185911  1.250000  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  1.250000  0.699186
3  0.100000  0.836375  0.481343  0.516502  1.250000  0.997541
4  0.100000  0.559053  0.034450  0.719930  1.250000  0.436935
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

### Counting missing values

### Filtering out missing values