<a href="https://colab.research.google.com/github/ArifAygun/Python-for-Data-Science-Essential-Training-Part-1/blob/main/AA_linked_Python_for_DS_Ess_Train_Part_1_02_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 2 - Data Preparation Basics
## Segment 1 - Filtering and selecting data

In [49]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

### Selecting and retrieving data
You can write an index value in two forms.
- Label index or 
- Integer index

In [20]:
series_obj = Series(np.arange(8), index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8'])
series_obj

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [21]:
series_obj['row4']

3

In [22]:
series_obj[[0,7]]

row1    0
row8    7
dtype: int64

In [33]:
np.random.seed(25)
DF_obj = pd.DataFrame(np.random.rand(36).reshape(6,6)),
index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6']

DF_obj

(          0         1         2         3         4         5
 0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
 1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
 2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
 3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
 4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
 5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819,)

In [27]:
df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 5, 6],
    'col2': ['a', 'b', 'c', 'd', 'e', 'f'],
    'col3': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6]
}, 
index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'])
df

      col1 col2  col3
row1     1    a   0.1
row2     2    b   0.2
row3     3    c   0.3
row4     4    d   0.4
row5     5    e   0.5
row6     6    f   0.6

In [34]:
import numpy as np
import pandas as pd

data = np.random.rand(36).reshape(6, 6)
index = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6']
columns = ['column1', 'column2', 'column3', 'column4', 'column5', 'column6']

DF_obj = DataFrame(data=data, index=index, columns=columns)
DF_obj

       column1   column2   column3   column4   column5   column6
row1  0.559242  0.745284  0.828346  0.823694  0.077140  0.644862
row2  0.309258  0.524254  0.958092  0.883201  0.295432  0.512376
row3  0.088702  0.641717  0.132421  0.766486  0.076742  0.331044
row4  0.679852  0.509213  0.655146  0.602120  0.719055  0.415219
row5  0.396542  0.825139  0.712552  0.097937  0.842154  0.440821
row6  0.373989  0.913676  0.547778  0.251937  0.027474  0.206257

In [46]:
import numpy as np
import pandas as pd

index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6']
columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6']

DF_obj = pd.DataFrame(data=np.random.rand(36).reshape(6, 6),
                      index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'], 
                      columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6'])
DF_obj

       column1   column2   column3   column4   column5   column6
row1  0.157218  0.421467  0.871331  0.448510  0.766458  0.605509
row2  0.759507  0.452794  0.716437  0.758259  0.181264  0.305758
row3  0.504442  0.021024  0.453400  0.447435  0.660215  0.160476
row4  0.807428  0.475454  0.303374  0.304602  0.561837  0.952605
row5  0.542847  0.736494  0.742638  0.976120  0.369236  0.935487
row6  0.586236  0.926565  0.916888  0.242785  0.110795  0.229199

In [47]:
DF_obj.loc[['row2', 'row 5'], ['column5', 'column 2']]

KeyError: ignored

In [48]:
import numpy as np
import pandas as pd

# create a random 6x6 DataFrame
data = np.random.rand(36).reshape(6, 6)
index = ['row1', 'row2', 'row3', 'row4', 'row5', 'row6']
columns = ['column1', 'column2', 'column3', 'column4', 'column5', 'column6']
DF_obj = pd.DataFrame(data=data, index=index, columns=columns)

# use .loc to access specific rows and columns
DF_obj.loc[['row2', 'row5'], ['column5', 'column2']]

       column5   column2
row2  0.081559  0.877679
row5  0.305352  0.924354

In [50]:
np.random.seeds(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6',],
                   columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6'])
DF_obj

AttributeError: ignored

In [53]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row1', 'row2', 'row3', 'row4', 'row5', 'row6'],
                   columns=['column1', 'column2', 'column3', 'column4', 'column5', 'column6'])
DF_obj

       column1   column2   column3   column4   column5   column6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [55]:
DF_obj.loc[['row2', 'row4'], ['column3', 'column6']]

       column3   column6
row2  0.556229  0.113041
row4  0.481343  0.997541

### Data slicing
You can use slicing to select and return a slice of several values from a data set. Slicing uses index values so you can use the same square brackets when doing data slicing.

How slicing differs, however, is that with slicing you pass in two index values that are separated by a colon. The index value on the left side of the colon should be the first value you want to select. On the right side of the colon, you write the index value for the last value you want to retrieve. When you execute the code, the indexer then simply finds the first record and the last record and returns every record in between them.

In [57]:
series_obj['row1':'row6']

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
dtype: int64

### Comparing with scalars
Now we're going to talk about comparison operators and scalar values. Just in case you don't know that a scalar value is, it's basically just a single numerical value. You can use comparison operators like greater than or less than to return true/false values for all records to indicate how each element compares to a scalar value.

In [58]:
DF_obj <0.2

      column1  column2  column3  column4  column5  column6
row1    False    False    False     True    False     True
row2    False    False    False    False    False     True
row3    False    False     True    False    False    False
row4    False    False    False    False    False    False
row5    False    False     True    False    False    False
row6    False    False    False    False    False    False

In [61]:
DF_obj > 0.3

      column1  column2  column3  column4  column5  column6
row1     True     True    False    False     True    False
row2     True     True     True     True     True    False
row3     True     True    False     True     True     True
row4     True     True     True     True     True     True
row5     True     True    False     True     True     True
row6    False     True     True     True    False     True

### Filtering with scalars

In [62]:
series_obj[series_obj > 5]

row7    6
row8    7
dtype: int64

### Setting values with scalars

Filtering and selecting using Pandas is one of the most fundamental things you'll do in data analysis. Make sure you know how to use indexing to select and retrieve records.